<body>
  <app-header></app-header>
  <section id="home">
    <div class="home_page">
      <div class="home_img">
        <img src="https://i.postimg.cc/t403yfn9/home2.jpg" alt="img " />
      </div>
      <div class="home_txt">
        <p class="collectio">SUMMER COLLECTION</p>
        <h2>FALL - WINTER<br />Collection 2023</h2>
        <div class="home_label">
          <p>
            A specialist label creating luxury essentials. Ethically crafted<br />with
            an unwavering commitment to exceptional quality.
          </p>
        </div>
        <button (click)="navigateTo('products-page')" style="cursor: pointer">
          SHOP NOW<i class="bx bx-right-arrow-alt"></i>
        </button>
        <div class="home_social_icons">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-pinterest"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="collection">
    <div class="collections container">
      <div class="content">
        <figure></figure>
        <div class="img-content">
          <p>Clothing Collections</p>
          <button (click)="navigateTo('products-page')" style="cursor: pointer">
            SHOP NOW
          </button>
        </div>
      </div>
      <div class="content">
        <figure></figure>
        <div class="img-content">
          <p>Shoes Spring</p>
          <button (click)="navigateTo('products-page')" style="cursor: pointer">
            SHOP NOW
          </button>
        </div>
      </div>
      <div class="content">
        <figure></figure>
        <div class="img-content">
          <p>Accessories</p>
          <button (click)="navigateTo('products-page')" style="cursor: pointer">
            SHOP NOW
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="sellers">
    <div class="seller container">
      <h2>Top Sales</h2>

      <div class="best-seller" *ngIf="changeSales">
        <div
          class="best-p1"
          *ngFor="let product of topSales"
          (click)="openPopup(product)"
        >
          <img [src]="product.blob" alt="https://picsum.photos" />
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>{{ product.name }}</p>
            </div>
            <div class="rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <div class="price">
              &dollar;{{ product.price }}
              <div class="colors">
                <i class="bx bxs-circle red"></i>
                <i class="bx bxs-circle blue"></i>
                <i class="bx bxs-circle white"></i>
              </div>
            </div>
            <div class="buy-now">
              <button>View detail</button>
            </div>
            <!-- <div class="add-cart">
                          <button>Add To Cart</button>
                      </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="seller container">
      <h2>New Arrivals</h2>
      <div class="best-seller" *ngIf="changeArrivals">
        <div
          class="best-p1"
          *ngFor="let product of newArrivals"
          (click)="openPopup(product)"
        >
          <img [src]="product.blob" alt="img" />
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>{{ product.name }}</p>
            </div>
            <div class="rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="price">
              &dollar;{{ product.price }}
              <div class="colors">
                <i class="bx bxs-circle blank"></i>
                <i class="bx bxs-circle blue"></i>
                <i class="bx bxs-circle brown"></i>
              </div>
            </div>
            <div class="buy-now">
              <button>View detail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seller container">
      <h2>Hot Sales</h2>
      <div class="best-seller" *ngIf="changeOutOfStock">
        <div
          class="best-p1"
          *ngFor="let product of outOfStock"
          (click)="openPopup(product)"
        >
          <img [src]="product.blob" alt="img" />
          <div class="best-p1-txt">
            <div class="name-of-p">
              <p>{{ product.name }}</p>
            </div>
            <div class="rating">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
            </div>
            <div class="price">
              &dollar;{{ product.price }}
              <div class="colors">
                <i class="bx bxs-circle grey"></i>
                <i class="bx bxs-circle black"></i>
                <i class="bx bxs-circle blue"></i>
              </div>
            </div>
            <div class="buy-now">
              <button>View detail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
