$color_1: #fff;
$color_2: #8391A1;
$font-family_1: sans-serif;
$border-left-color_1: #8391A1;

@keyframes show {
  50% {
    opacity: 1;
    transform: scale(.8) rotate(360deg);
  }
  70% {
    opacity: 1;
    transform: scale(1.5) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family_1;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
    background: #e2e8f0;
    width: 280px; /* Increased width of the frame */
    height: 200px; /* Added unit (e.g., pixels) for the height */
    position: fixed; /* Set to a fixed position */
    bottom: 10px; /* Adjust the value based on your preference */
    right: 10px; /* Adjust the value based on your preference */
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.card {
    background: #fff;
    width: 280px; /* Increased width of the card */
    height: 200px; /* Increased height of the card */
    position: absolute;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    opacity: 0;
    transform: scale(0);
  }
  
  .number-bg {
    border: 50px solid transparent; /* Povećana veličina brojevne pozadine */
    border-left-color: $border-left-color_1;
    position: absolute;
    right: -50px; /* Povećana udaljenost od ruba frame-a */
    top: -50px; /* Povećana udaljenost od vrha frame-a */
    transform: rotate(-45deg);
  }
  
  .number {
    color: $color_1;
    position: absolute;
    right: 20px; /* Pomeranje brojača unutar brojevne pozadine */
    top: 15px; /* Pomeranje brojača unutar brojevne pozadine */
  }
  
  .text {
    color: $color_2;
    font-size: 1.2em; /* Povećana veličina teksta */
  }
  
  .headline {
    font-weight: 600;
    font-size: 1.8em; /* Povećana veličina naslova */
    display: inline-block;
    padding: 1em 0;
  }
  
  .button {
    background: #f05e8a;
    color: $color_1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0; /* Povećana visina dugmeta */
    cursor: pointer;
  }
  
  .active {
    animation: show 1s linear forwards;
  }
  .notification-popup {
    position: fixed;
    bottom: 10px; /* Prilagodite ovu vrednost prema potrebi */
    right: 10px; /* Prilagodite ovu vrednost prema potrebi */
    min-width: 200px; /* Prilagodite ovu vrednost prema potrebi */
    max-width: 300px; /* Prilagodite ovu vrednost prema potrebi */
    padding: 15px;
    background-color: #fff; /* Prilagodite boju pozadine prema potrebi */
    border: 1px solid #ccc; /* Prilagodite boju ivice prema potrebi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Prilagodite senku prema potrebi */
    z-index: 1000; /* Postavite odgovarajući z-index kako bi bio iznad ostalih elemenata */
  }