<body>
  <form action="" method="post" enctype="multipart/form-data"[formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="data-input-container">
      <input type="text" 
              class="create-input" 
              id="create-input" 
              placeholder="Ware House"
              formControlName="wareHouse">
      <div class="search-container">
        <div class="search-box">
          <input type="text" 
                  class="search-input" 
                  id="search-input" 
                  placeholder="Category"
                  formControlName="category"
                  >

          <button class="search-btn"><ion-icon name="search-sharp"></ion-icon></button>
        </div>
        <button class="clear-btn btn">Clear</button>
      </div>
    </div>
    <label class="drop-area">
      <input type="file" 
              accept="image/webp" 
              name="loadImg"
              class="img-input"/>
      <div class="drop-viewer"></div>
      <div class="drop-help">
        <p class="drop-help-text">Drag here your image or <span class="underline-hover">select the file</span></p>
        <ion-icon class="drop-help-icon" name="cloud-upload-outline"></ion-icon>
      </div>
    </label>
    <div class="desc-grid">
      <label class="grid-input">
        <input type="text" 
                id="title" 
                class="title descInput" 
                placeholder="Title"
                formControlName="title">
        <div class="count" data-type="title"></div>
      </label>
      <label class="grid-input">
        <input type="text" 
                id="sub_title" 
                class="sub_title descInput" 
                placeholder="Price"
                formControlName="price">
        <div class="count" data-type="title"></div>
      </label>
      <label class="grid-input">
        <textarea id="desc1" 
                  class="desc1 descInput" 
                  placeholder="Description"></textarea>
        <div class="count" data-type="desc"></div>
      </label>
      <label class="grid-input">
        <textarea id="desc2" 
                  class="desc2 descInput" 
                  placeholder="Stock"
                  formControlName="stock"></textarea>
        <div class="count" data-type="desc"></div>
      </label>
      
    </div>
    <div class="btn-container">
      <button class="submit-btn btn" type="submit">Save</button>
    </div>

  <div class="msg-log"></div>
</form>
</body>