<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="container a-container" id="a-container" [ngClass]="{'is-txl': isTxl, 'is-z200': isZ200}">
            <form class="form" id="a-form" [formGroup]="loginForm" (ngSubmit)="onSubmit('signUp')">

                <h2 class="form_title title">Welcome</h2>
                
                        <span class="form__span">or Enter your email address to Sign up FREE</span>
                        <input class="form__input" type="text" placeholder="First Name"formControlName="firstName">
                        <input class="form__input" type="text" placeholder="Last Name" formControlName="lastName">
                        <input class="form__input" type="text" placeholder="Username"formControlName="username">
                        <input class="form__input" type="text" placeholder="Phone Number"formControlName="phoneNumber">
                       
<input class="form__input" type="text" placeholder="Location" formControlName="location" (input)="onChange()">
<ul class="suggestions" *ngIf="suggestions.length > 0">
  <li *ngFor="let suggestion of suggestions"(click)="selectSuggestion(suggestion)" >{{ suggestion }}</li>
</ul>

                        <input class="form__input" type="password" placeholder="Password" formControlName="password">
                        <button class="form__button button submit">SIGN UP</button></form>
        </div>
        <div class="container b-container" id="b-container" [ngClass]="{'is-txl': isTxl, 'is-z200': isZ200, 'is-hidden': isHiddenC2}">
            <form class="form" id="b-form" method="" action=""[formGroup]="loginForm" (ngSubmit)="onSubmit('login')">
                <h2 class="form_title title">Welcome</h2>
                <span class="form__span">or use your email account</span>
                        <input class="form__input" type="text" placeholder="Username"formControlName="username">
                        <input class="form__input" type="password" placeholder="Password" formControlName="password">
                <button
                    class="form__button button submit"type="submit">SIGN IN</button>
            </form>
        </div>
        <div class="switch" id="switch-cnt" [ngClass]="{'is-gx': isGx, 'is-txr': isTxr}">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1" [ngClass]="{'is-hidden': isHiddenC1}">
                <h2 class="switch__title title">Welcome Back !</h2>
                <p class="switch__description description">To keep connected with us please login with your personal info</p>      <button class="switch__button button switch-btn" (click)="changeForm()">SIGN IN</button>
            </div>
            <div class="switch__container" id="switch-c2" [ngClass]="{'is-hidden': isHiddenC2}">
                <h2 class="switch__title title">Hello Friend !</h2>
                <p class="switch__description description">Enter your personal details and start journey with us</p> <button class="switch__button button switch-btn" (click)="changeForm()">SIGN UP</button></div>
        </div>
    </div>
    
</body>

</html>